<div class="form-group">
  <p>
    Please select bass drum event(s) below in which {{vm.user.name}} intends to compete.
  </p>

  <div>
    <form name="vm.bassForm">
      <div ng-switch="vm.user.comp.bass.grade">
        <div ng-switch-when="4">
          <h4>Grade 4 Bass Event (unsanctioned)</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="marchSetBass" ng-model="vm.user.comp.bass.events.marchSetBass" ng-true-value="'March Set'" ng-required="!(vm.user.comp.bass.events.marchSetBass)" />
              March Set (1 4-part march or 2 2-part marches in 2/4, 3/4, or 4/4 time)
            </label>
          </div>
        </div>
        <div ng-switch-when="3">
          <h4>Grade 3 Bass Events (unsanctioned)</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="twoFourBass" ng-model="vm.user.comp.bass.events.twoFourBass" ng-true-value="'2/4 March'" ng-required="!(vm.user.comp.bass.events.twoFourBass || vm.user.comp.bass.events.srBass)" />
              2/4 March
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="srBass" ng-model="vm.user.comp.bass.events.srBass" ng-true-value="'Strathspey/Reel'" ng-required="!(vm.user.comp.bass.events.twoFourBass || vm.user.comp.bass.events.srBass)" />
              Strathspey/Reel
            </label>
          </div>
        </div>
        <div ng-switch-when="2">
          <h4>Grade 2 Bass Events (unsanctioned)</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="msrBass" ng-model="vm.user.comp.bass.events.msrBass" ng-true-value="'M/S/R'" ng-required="!(vm.user.comp.bass.events.msrBass || vm.user.comp.bass.events.hjBass)" />
              March/Strathspey/Reel
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="hjBass" ng-model="vm.user.comp.bass.events.hjBass" ng-true-value="'Hornpipe/Jig'" ng-required="!(vm.user.comp.bass.events.msrBass || vm.user.comp.bass.events.hjBass)" />
              Hornpipe/Jig
            </label>
          </div>
        </div>
        <div ng-switch-when="Open">
          <h4>Grade 1 Bass Events (unsanctioned)</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="msrBass" ng-model="vm.user.comp.bass.events.msrBass" ng-true-value="'M/S/R'" ng-required="!(vm.user.comp.bass.events.msrBass || vm.user.comp.bass.events.hjBass)" />
              March/Strathspey/Reel
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="hjBass" ng-model="vm.user.comp.bass.events.hjBass" ng-true-value="'Hornpipe/Jig'" ng-required="!(vm.user.comp.bass.events.msrBass || vm.user.comp.bass.events.hjBass)" />
              Hornpipe/Jig
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  
</div>