<div class="form-group">
  <p>
    Please select tenor drum event(s) below in which {{vm.user.name}} intends to compete.
  </p>

  <div>
    <form name="vm.tenorForm">
      <div ng-switch="vm.user.comp.tenor.grade">
        <div ng-switch-when="4">
          <h4>Grade 4 Tenor Event</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="marchSetTenor" ng-model="vm.user.comp.tenor.events.marchSetTenor" ng-true-value="'March Set'" ng-required="!(vm.user.comp.tenor.events.marchSetTenor)" />
              March Set (1 4-part march or 2 2-part marches in 2/4, 3/4, or 4/4 time)
            </label>
          </div>
        </div>
        <div ng-switch-when="3">
          <h4>Grade 3 Tenor Events</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="twoFourTenor" ng-model="vm.user.comp.tenor.events.twoFourTenor" ng-true-value="'2/4 March'" ng-required="!(vm.user.comp.tenor.events.twoFourTenor || vm.user.comp.tenor.events.srTenor)" />
              2/4 March
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="srTenor" ng-model="vm.user.comp.tenor.events.srTenor" ng-true-value="'Strathspey/Reel'" ng-required="!(vm.user.comp.tenor.events.twoFourTenor || vm.user.comp.tenor.events.srTenor)" />
              Strathspey/Reel
            </label>
          </div>
        </div>
        <div ng-switch-when="2">
          <h4>Grade 2 Tenor Events</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="msrTenor" ng-model="vm.user.comp.tenor.events.msrTenor" ng-true-value="'M/S/R'" ng-required="!(vm.user.comp.tenor.events.msrTenor || vm.user.comp.tenor.events.hjTenor)" />
              March/Strathspey/Reel
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="hjTenor" ng-model="vm.user.comp.tenor.events.hjTenor" ng-true-value="'Hornpipe/Jig'" ng-required="!(vm.user.comp.tenor.events.msrTenor || vm.user.comp.tenor.events.hjTenor)" />
              Hornpipe/Jig
            </label>
          </div>
        </div>
        <div ng-switch-when="Open">
          <h4>Grade 1 Tenor Events</h4>
          <div>
            <label class="pointer">
              <input type="checkbox" name="msrTenor" ng-model="vm.user.comp.tenor.events.msrTenor" ng-true-value="'M/S/R'" ng-required="!(vm.user.comp.tenor.events.msrTenor || vm.user.comp.tenor.events.hjTenor)" />
              March/Strathspey/Reel
            </label>
          </div>
          <div>
            <label class="pointer">
              <input type="checkbox" name="hjTenor" ng-model="vm.user.comp.tenor.events.hjTenor" ng-true-value="'Hornpipe/Jig'" ng-required="!(vm.user.comp.tenor.events.msrTenor || vm.user.comp.tenor.events.hjTenor)" />
              Hornpipe/Jig
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  
</div>